*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1000px;    
    margin: 0 auto;
   padding: 20px;
   background: rgba(201, 198, 210, 0.219);
}

.profile-image{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
    object-fit: cover;
}

.header-bio{
    float: left;
    padding: 35px;
    color: #000244;
}


h1, a:hover{
    color: #000244;
}
.header-contact{
    float: right;
    padding: 33px;
}

.header-contact a{
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #000244; 
    font-size: 20px;
    transition: .2;
}
.header-contact a:hover{
    color: #000123;
}
.div-clear{
    clear: both;
 
   
}

hr{
    border: 5px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
   

}
.common-hr{
    border: 5px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
   

}

/*personal-sectino stert*/


.left-div{
    width: 30%;
    float: left;

}

.right-div{
    width: 70%;
    float: left;
}

.common-hr{
    border: 5px solid rgb(0, 0, 0);
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
   

}

/*education-sectino stert*/

.edu-templata-left{
    float: left;
    width: 45%;

}
.edu-templata-right{
    float: right;
    width: 45%;

}
/*footer stert*/

.bottom-container{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}

.bottom-container a{
    color: whitesmoke;
    text-decoration: none;
    margin: 23px;
}

.bottom-container p{
    color: whitesmoke;
    margin-top: 23px;
}

